<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <title>Visualisierung der gefahrenen Strecke</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
 
 
  <link rel='shortcut icon' type='image/x-icon' href='../static/flavicon/favicon.ico' />
  <style>
    html {
      scroll-behavior: smooth;
     }
    #map {
      position: absolute;
      top: 0;
      bottom: 15px;
      left:0;
      right:0;
      background-color: black;
      
      z-index: 1;
    }
    body{
      padding: 0px;
      margin: 0px;
    }
  </style>

</head>
<body>
  <div id='map'></div>
  <div class="arrow bounce">

  </div>


    <script type="text/javascript" src="../static/scripts/script.js"></script> 
 
 
  
  <!-- <a class = 'test'href="#down" >Click Here to Smoothly Scroll Down</a> -->
  <div class="sticky"><img src="../static/pictures/arrow_up_black.svg" width="50px" style="padding:7px;"></div>
	<div class="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices velit sed purus eleifend, a gravida nunc faucibus. Maecenas eget est semper, ullamcorper purus id, faucibus quam. Proin euismod tristique mauris. Vivamus bibendum rhoncus quam, vel efficitur ipsum malesuada eget. Aliquam in lectus quis nisl tristique pretium. Sed vel velit eu magna lobortis malesuada a non ante. Donec et feugiat quam. Integer fringilla magna nec nisi euismod interdum. Donec at dui varius, ultricies ipsum nec, luctus justo. Praesent consectetur, dui ac vulputate hendrerit, velit quam laoreet lorem, ut hendrerit justo ipsum in odio.</p>
		<p>Nullam eget turpis ut mi sagittis porttitor. Nullam eget felis non eros ullamcorper vehicula. In fringilla posuere nisi, eget pulvinar nunc elementum eget. Morbi sit amet mi arcu. Maecenas venenatis suscipit ipsum, eu laoreet elit accumsan eu. Integer varius tellus felis, id dignissim eros suscipit eu. Pellentesque consequat, odio ut dignissim maximus, justo purus pharetra elit, sit amet pulvinar justo ipsum in tortor. Duis at efficitur dolor, vel iaculis ipsum. Aenean mollis pharetra consequat. Fusce eu libero in sapien hendrerit tempus. Fusce pellentesque tincidunt enim, vitae pellentesque ipsum aliquet sed. Aliquam ultrices, purus et finibus fringilla, augue nulla molestie sapien, quis tincidunt orci risus ac nunc.</p>
	</div>
 
  <div id="down">
    <h1>You are down!</h1>
  </div>

  
</body>
</html>
